.container {
/* centraliza no centro da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* tamanho da imagem */
img {
    width: 100px;
    height: 80vh;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 50px;
    object-fit: cover; /* background size */
    transition: width 0.5s ease-in-out; /* transicao ao passar o mouse */
}

/* ao passar o mouse na imagem o tamanho dela muda */
img:hover { width: 60vw; }

/* primeira imagem */
.ativo {
    width: 60vw;
}