@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

/* colunas */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
}

button {
    border: none;
    cursor: pointer;
}

/* foto de perfil e nome */
header {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.header {
    display: flex;
    flex-direction: column;
}

.header h1 {
    margin: 8px 0;
    font-size: 22px;
    font-weight: 700;  
    color: #464646; 
}

.header span {
    font-size: 14px; 
    font-weight: 400; 
    color: #A3A3A3; 
}

/* consultas de hoje */
.box {
    margin: 15px 0;
    padding: 20px;
    max-width: 330px;
    border-radius: 8px;
    background: #FFF;
        backdrop-filter: blur(11px);
    /* flexbox */
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.box_header {
    gap: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #4646463a; ;
}

.box_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.box_header_nome {
    display: flex;
    flex-direction: column;
}

.box_header_nome h2 {
    margin: 0;
    font-size: 14px; 
    color: #464646;
    font-weight: 700;  
}

.box_header_nome span {
    font-size: 12px; 
    font-weight: 400; 
    color: #A3A3A3; 
}

.box_footer {
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.box_footer > div {
    gap: 10px;
    display: flex;
}

button.btn_primary {
    color: #fff;
    width: 139px; 
    height: 48px; 
    font-size: 14px; 
    border-radius: 8px;
    background: #FFB050;
    box-shadow: 0px 4px 16px 0px rgba(255, 176, 80, 0.16);
}

button.btn_disable {
    width: 139px;
    height: 48px; 
    font-size: 14px; 
    color: #464646; 
    border-radius: 8px;
    border: 1px solid #ECECEC;
    background: #FFF;
}

button.btn {
    width: 296px;
    height: 48px; 
    color: #ffffff;
    border-radius: 8px;
    background-color: #4894FF;
    box-shadow: 0px 4px 16px 0px rgba(72, 148, 255, 0.16);
}