/*  import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    height: 50px;
    width: 140px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
    border: none;
}

/* barra celular */
.barra_cell {
    height: 33px;
    padding: 5px 20px;
    background-color: #FFFFFF ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra_cell img {
    padding: 0 15px;
    width: 15px;
}

/* cabeçalho - perfil do médico */
header {
    gap: 20px;
    display: flex;
    padding: 32px 90px 20px 30px;
}

header > img {
    height: auto;
    width: 100px;
    border-radius: 50%;
}

.header {
    display: flex;
    flex-direction: column;
}

.header h1 {
    font-weight: 700;
    line-height: 35.2px;
    font-size: 22px;
    color: #464646;
}

.header span {
    color: #A3A3A3;
    line-height: 22.4px;
}

/* lista de consultas */
section {
    margin: 16px;
}

section > h2 {
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    padding: 8px 16px;
}

.box {
    width: 328px;
    height: 220px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ECECEC;
    /* flebox */
    display: flex;
    flex-direction: column;
}

.box_perfil { 
    gap: 20px;
    display: flex;
    align-content: center;
    padding: 20px 16px;
}

.box_perfil > img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.box_nome {
    display: flex;
    flex-direction: column;
}

.box_nome h1{
    color: #464646;
    font-weight: 700;
}

.box_nome span {
    font-size: 12px;
    color: #A3A3A3;
}

img.icon_chat {
    width: 32px;
    height: 32px;
}

.box_btn {
    padding: 20px 16px;
}

.btn_primary {
    color: #fff;
    margin: 10px 5px;
    background: #FFB050;
    box-shadow: 0px 4px 16px 0px #FFB05029;
}

.btn_disable {
    color: #464646;
    background-color: #fff;
    border: 1px solid #ECECEC
}

.btn_secundary {
    margin-top: 10px;
    height: 48px;
    width: 296px;
    color: #fff;
    background-color: #4894FF;
    box-shadow: 0px 4px 16px 0px #4894FF29;
}