@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* menu */
nav {
    height: 80px;
/* alinhamento dos itens com flex box */
    display: flex; /* alinha lado a lado*/
    justify-content: space-around; /* centralizado mas com espaço */
    align-items: center; /* centralizado na viewport do nav */
}

img.logo { 
    height: auto;
    width: 150px;
}

ul {
    list-style-type: none; /* tira as bolinhas */
}

ul li {
    cursor: pointer;
    display: inline; /* coloca links lado a lado */
    color: #667085;
    font-weight: 500;
    font-size: 16px;
    padding: 0 15px;
}

button {
    border: none;
    width: 100px;
    height: 45px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    color: #667085;
    background-color: #fff;
}

button.signup {
    color: #fff;
    background-color: #8E2424;
}

/* conteudo e sessões */
main, section {
    margin: 100px 0;
}

/* conteudo principal */
main span {
    font-size: 16px;
    font-weight: 600;
    color: #8E2424;
}

main h1 {
    font-weight: 600;
    font-size: 48px;
    color: #101828;
    padding-top: 24px;
}

main p {
    font-weight: 400;
    font-size: 20px;
    color: #667085;
    padding-top: 24px;
}

/* métricas */
.metricas {
    column-gap: 100px;
    display: inline-grid;
    margin: 0 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box h2 {
    font-size: 60px;
    color: #8E2424;
}

.box h3 {
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    padding-top: 12px;
}

.box p {
    font-weight: 400;
    font-size: 16px;
    color: #667085;
    padding-top: 10px;
}

/* vagas */
.vagas span {
    border-radius: 16px;
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #8E2424;
    background-color: #8E24240D;
}

.vagas h2 {
    font-weight: 600;
    font-size: 36px;
    color: #101828;
    padding-top: 16px;
    letter-spacing: -2px;
}

.vagas p {
    font-size: 20px;
    font-weight: 400;
    color: #667085;
    padding-top: 20px;
}

.vagas img { padding-top: 65px;}

.vaga-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    width: 768px;
    padding: 20px;
}

.vaga-box h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
}

.vaga-box p {
    font-weight: 500;
    font-size: 16px;
    color: #667085;
}

.vaga-box-item {
    border-radius: 16px;
    border: 1px solid #EAECF0;
    padding: 25px 28px;
}

/* rodape */
.depoimentos {
    text-align: Center;
    padding: 64px 0;
    background-color: #C3191908;
}

.depoimentos span {
    font-weight: 600;
    font-size: 14px;
    color: #8E2424;
}

.depoimentos h2 {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -2px;
    color: #101828;
    padding-top: 16px;
}

.depoimentos img {
    padding-top: 32px;
    padding-bottom: 16px;
}

.depoimentos h3 {
    font-weight: 500;
    font-size: 16px;
    color: #101828;
}

.depoimentos p {
    font-weight: 400;
    font-size: 14px;
    color: #667085;
    padding-top: 5px;
}

/* footer */
footer {
    text-align: center;
    padding: 96px 0;
    background-color: #F9FAFB;
}

footer h2 { font-size: 36px;}

footer p {
    font-weight: 400;
    font-size: 20px;
    color: #667085;
    padding-top: 20px;
}

form {
    padding: 40px;
}

input[type="email"] {
    padding: 12px 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #D0D5DD
}

input[type="submit"] {
    border-radius: 8px;
    border: 1px solid #8E2424;
    padding: 12px 20px;
    color: #fff;
    cursor: pointer;
    background-color: #8E2424;
    box-shadow: 0px 1px 2px 0px #1018280D;
}